1) What are Data structures ans why are they important?
- Data structures are the specialised format for organinsig, storing and manipulating data in a programme to enable efficient acces and modification.

- They are important because it helps us to store data element in more efficient format and to work effictevely

2) Explain the difference between mutable and immutable data types with examples

-Mutable data types: Data types whose values can be modified after creation
 EX: List

 -Immutable data types: Data types whose values  can not be modified after creation
 EX: Tuple

3) What are the main differences between lists and tuples in Python?

- List is mutable data structures where as tuple is immutable data structures
- List are stored in square bracket whrere as tupls are stored inside paranthesis

4)Describe how dictionaries store data
- Dictionary stores data in the form of key and values

5) Why might you use a set instead of a list in Python?
- Set are generally preferred over list where duplicats are not allowed or uniqueness is key factor
- Sets are also ideal for mathematical set of operations like union, intersection and difference due to its fast execution

6)What is a string in Python, and how is it different from a list?
- Strings are immutabel data structures used for representing and manipulating textual data where as list are mutable data structures and ideally can be store any type of data

7) How do tuples ensure data integrity in Python?
- Tuples ensure data integrity by being immutable which pevents accidental or intentiional modification

8) What is a hash table, and how does it relate to dictionaries in Python?
- Hash table is a data structurers that stores key value pairs
- Keys in pyhthon dictionary are hashed to compute their unique index, where corresponding value is stored.

9) Can lists contain different data types in Python?
- Yes list can contain different data types in python

10) Explain why strings are immutable in Python?
- String in pyhon are immutable to ensure efficient memory management, consistent behaviour and safe reliable usage in key areas of programming

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer various advantages over list for certain tasks which are as follows

1.   Uniquensss is maintained in form of keys
2.   Helps is accesing items fast as dictionary uses hash table under the
hood allowing for O(1) averge time complexity for lookups, assitions and deletion compared to O(n) for searching in list
3.   Ease of representing relationship

12) Describe a scenario where using a tuple would be preferable over a list?
-  Tuple is generally prefered over list where data modification is generally avoided and ordered collection is preffered with more memory efficient

13)How do sets handle duplicate values in Python?
-Sets automaticaally remove duplicate values as sets are implemented using hash tables, which stores elements based on hash values and hash values for duplicates are identical hence only one instances of duplicate is stored in set.

14) How does the “in” keyword work differently for lists and dictionaries?
- in key word is a key charachter for searching inside a data structurs but are oprated under different types like in functuin in a lis check for the existence of values in a list whrere as in dictionatry in function is used to check the key not a values.

15) Can you modify the elements of a tuple? Explain why or why not?
- No tuples can not modify once it is created as its a immutable data structures and thsi immutablility is enforced to ensure data integrity and enabling hashing.

16) What is a nested dictionary, and give an example of its use case?
-Nested dictionry are dictionary iside dictionary and its use cases can be an example where there is a need of further sub classification under classifiacation

17) Describe the time complexity of accessing elements in a dictionary?
- Time complexity of accesign elements in dictionarty is generally of type O(1) and in worst case scenario it can be of type O(n) due to hash collision

18) In what situations are lists preferred over dictionaries?
- List are generally preffered over dictionary where there are multiple types of data has to be stored and can be modified also after creation
- When it is requires to access the elements by index rather than key

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is considered to be unordered  because the elements in the dictionary are stored based on the hash values
- Data retrival is comparatively faster due to underlying hash table implementation

20) Explain the difference between a list and a dictionary in terms of data retrieval?
- List undergoes index based data retrival where as dictionary undergoes retrival using keys which follow hash tables internally allowing much faster retrival.

**PRACTICAL QUESTIONS**

In [1]:
#Write a code to create a string with your name and print it
Name = "Mohsin"
print(Name)

Mohsin

In [2]:
# Write a code to find the length of the string "Hello World"
Length = len("Hello World")
print(Length)

11

In [14]:
#;Write a code to slice the first 3 characters from the string "Python Programming"
String = "Python Programming"
S_S = String[3:]
print(S_S)

hon Programming

In [17]:
#Write a code to convert the string "hello" to uppercase
Str = "hello"
US = Str.upper()
print(US)

HELLO

In [25]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
Str = "I like apple"
Str = Str.replace("apple","orange")
print(Str)

I like orange

In [29]:
#6)Write a code to create a list with numbers 1 to 5 and print it
List  = list(range(5))
print(List)

[0, 1, 2, 3, 4]

In [34]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]
L = [1,2,3,4]
L.append(10)
print(L)

[1, 2, 3, 4, 10]

In [36]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
L = [1,2,3,4,5]
L.remove(3)
print(L)

[1, 2, 4, 5]

In [39]:
#9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']
L = ["a","b","c","d"]
print(L[1])

b

In [43]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].
L = [10,20,30,40,50]
L.reverse()
print(L)

[50, 40, 30, 20, 10]

In [1]:
#11) Write a code to create a tuple with the elements 10, 20, 30 and print it.
Tuple = (10, 20, 30)
print(Tuple)

(10, 20, 30)

In [7]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
T = ("Apple", "Banana", "Cherry")
print(T[0])

Apple

In [8]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
T = (1,2,3,2,4,2)
T.count(2)

3

In [9]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
T = ("Dog", "Cat", "Rabit")
print(T[1])

Cat

In [13]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
T = ("Apple", "Orange", "Banana")
if "Banana" in T:
    print("True")
else:
    print("False")

True

In [14]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
S = {1,2,3,4,5}
print(S)

{1, 2, 3, 4, 5}

In [17]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
S = {1,2,3,4,5}
S.add(6)
print(S)

{1, 2, 3, 4, 5, 6}

In [18]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
T = (10,20,30)
print(T)

(10, 20, 30)

In [19]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
T = ("Apple", "Banana", "Cherry")
print(T[0])

Apple

In [20]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
T = (1,2,3,2,4,2)
T.count(2)

3

In [ ]:
#21,22,23,24 is same as 14,15,16, and 17 please make sure PW team atleast go thriugh the question waht they are freaming